@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body { background-image: linear-gradient(to right, #983CBD, #772F94);
}

main { background-color: white;
border-radius: 10px;
box-shadow: 5px 5px 15px #60167d;
width: 600px;
padding: 10px;
margin: auto;
}

h1 {
    color: #56226B;
    text-shadow: 1px 1px 2px #28103183;
}

h2{
 color: #B548E0;
}

p {
    text-align: justify;
}